body
{
	background-image: linear-gradient(blue, LightBlue, blue);
}

ol, ul
{list-style-position: inside;}

h2 {color: LightBlue;}

#wrapper
{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

header img
{
	float: right;
	max-height:100%;
	max-width:100%;
}

header
{
	color: white;
	background-color: rgb(0,0,50);
}

nav
{
	background-color: LightBlue;
}

main
{background-color: white;}

footer
{
	background-color: white;
	text-align: center;
}
